<!doctype html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tea Menu</title>

<link rel="stylesheet" href="assets/style.css">
</head>

<body>

<h1>お茶を選んでください</h1>

<p><a href="tea.html?type=gyokuro&lang=ja">玉露</a></p>
<p><a href="tea.html?type=sencha&lang=ja">煎茶</a></p>
<p><a href="tea.html?type=hojicha&lang=ja">ほうじ茶</a></p>
<p><a href="tea.html?type=azuki&lang=ja">あずきほうじ茶</a></p>
<p><a href="tea.html?type=teabag&lang=ja">ティーパック</a></p>

</body>
</html>
